<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>全部</string>
	<string>北京</string>
	<string>上海</string>
	<string>深圳</string>
	<string>杭州</string>
	<string>广州</string>
	<string>成都</string>
	<string>南昌</string>
</array>
</plist>
