<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>itemKey</key>
			<string>watched</string>
			<key>itemName</key>
			<string>关注项目</string>
			<key>itemIcon</key>
			<string>octicon_watch_red_20</string>
			<key>itemDisclosure</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>itemKey</key>
			<string>feedback</string>
			<key>itemName</key>
			<string>反馈</string>
			<key>itemIcon</key>
			<string>set_feedback</string>
			<key>itemDisclosure</key>
			<true/>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>share</string>
			<key>itemName</key>
			<string>分享</string>
			<key>itemIcon</key>
			<string>set_share</string>
			<key>itemDisclosure</key>
			<true/>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>rate</string>
			<key>itemName</key>
			<string>评价</string>
			<key>itemIcon</key>
			<string>set_rate</string>
			<key>itemDisclosure</key>
			<true/>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>about</string>
			<key>itemName</key>
			<string>关于</string>
			<key>itemIcon</key>
			<string>set_about</string>
			<key>itemDisclosure</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>itemKey</key>
			<string>settings</string>
			<key>itemName</key>
			<string>设置</string>
			<key>itemIcon</key>
			<string>set_settings</string>
			<key>itemDisclosure</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
