<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>itemKey</key>
			<string>beefun</string>
			<key>itemName</key>
			<string>BeeFun</string>
			<key>itemIcon</key>
			<string>octicon_watch_red_20</string>
			<key>itemDisclosure</key>
			<true/>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>me</string>
			<key>itemName</key>
			<string>Me</string>
			<key>itemIcon</key>
			<string>octicon_watch_red_20</string>
			<key>itemDisclosure</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
