<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>All</string>
	<string>China</string>
	<string>USA</string>
	<string>India</string>
	<string>Japan</string>
	<string>Korea</string>
	<string>Brazil</string>
	<string>Germany</string>
	<string>Russia</string>
	<string>UK</string>
	<string>France</string>
	<string>Spain</string>
	<string>Canada</string>
	<string>Singapore</string>
</array>
</plist>
