<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>All</string>
	<string>Java</string>
	<string>C</string>
	<string>C++</string>
	<string>C#</string>
	<string>PHP</string>
	<string>Python</string>
	<string>Javascript</string>
	<string>Swift</string>
	<string>Kotlin</string>
	<string>Perl</string>
	<string>Ruby</string>
	<string>Assembly language</string>
	<string>Objective-C</string>
	<string>Objective-C++</string>
	<string>CSS</string>
	<string>HTML</string>
	<string>R</string>
	<string>Go</string>
	<string>PLSQL</string>
	<string>MATLAB</string>
	<string>SQL</string>
	<string>SQLPL</string>
	<string>Pascal</string>
	<string>Assembly</string>
	<string>Visual Basic</string>
	<string>Rust</string>
	<string>D</string>
	<string>Bash</string>
	<string>ASP</string>
	<string>COBOL</string>
	<string>ABAP</string>
	<string>SAS</string>
	<string>Scratch</string>
	<string>Dart</string>
	<string>Fortran</string>
	<string>Lisp</string>
	<string>Ada</string>
	<string>Lua</string>
	<string>Scala</string>
	<string>Logo</string>
	<string>Prolog</string>
	<string>F#</string>
	<string>Haskell</string>
	<string>Clojure</string>
	<string>LabVIEW</string>
	<string>CoffeeScript</string>
	<string>Hack</string>
	<string>Rust</string>
	<string>Apex</string>
	<string>Scheme</string>
	<string>Awk</string>
	<string>Erlang</string>
	<string>MQL4</string>
	<string>Groovy</string>
</array>
</plist>
