<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>itemKey</key>
			<string>version</string>
			<key>itemName</key>
			<string>Version</string>
			<key>itemValue</key>
			<string>1.0</string>
			<key>itemIcon</key>
			<string>octicon_watch_red_20</string>
			<key>itemDisclosure</key>
			<false/>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>language</string>
			<key>itemName</key>
			<string>Language</string>
			<key>itemValue</key>
			<string>Change to Chinese</string>
			<key>itemIcon</key>
			<string>octicon_watch_red_20</string>
			<key>itemDisclosure</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>itemKey</key>
			<string>rate</string>
			<key>itemName</key>
			<string>Rate</string>
			<key>itemIcon</key>
			<string>set_rate</string>
			<key>itemDisclosure</key>
			<true/>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>about</string>
			<key>itemName</key>
			<string>About</string>
			<key>itemIcon</key>
			<string>set_about</string>
			<key>itemDisclosure</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
