<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<array>
		<dict>
			<key>type</key>
			<string>switched</string>
			<key>id</key>
			<string>cellular</string>
			<key>key</key>
			<string>使用 2G/3G/4G </string>
			<key>switched</key>
			<false/>
		</dict>
		<dict>
			<key>type</key>
			<string>switched</string>
			<key>id</key>
			<string>wifi</string>
			<key>key</key>
			<string>使用 Wifi</string>
			<key>switched</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
