
//
//  Config.xcconfig
//  BeeFun
//
//  Created by WengHengcong on 2017/3/21.
//  Copyright © 2017年 JungleSong. All rights reserved.
//
#include "Common.xcconfig"
#include "Pods/Target Support Files/Pods-BeeFun/Pods-BeeFun.debug.xcconfig"

APP_DISPLAYNAME = BeeFun Adhoc
VERSION_NUM = 0.9
BUILD_NUM = 101
