
//
//  Config.xcconfig
//  BeeFun
//
//  Created by WengHengcong on 2017/3/21.
//  Copyright © 2017年 JungleSong. All rights reserved.
//
#include "Common.xcconfig"
#include "Pods/Target Support Files/Pods-BeeFun/Pods-BeeFun.release.xcconfig"

APP_DISPLAYNAME = BeeFun for iOS
VERSION_NUM = 1.0
BUILD_NUM = 1000
